extends ../layout

block content
    a(href="/bicicletas") volver

    br
    br
    br

    h1 Actualizar bicicleta

    br
    br

    form(action="/bicicletas/"+bici.code+"/update" method='post')
        input#id(type="hidden" name="id" value=bici.id)        
        label(for="id") ID:
        input#id(type="text" name="code" value=bici.code readonly)
        br
        label(for="color") Color:
        input#color(type="text" name="color" value=bici.color)
        br
        label(for="modelo") Modelo:
        input#modelo(type="text" name="modelo" value=bici.modelo)
        br
        label(for="lat") Latitud:
        input#lat(type="text" name="lat" value=bici.coordenada[0])
        br
        label(for="long") Longitud:
        input#long(type="text" name="long" value=bici.coordenada[1])
        br
        br
        input.btn(type="submit", value="OK")