extends ../layout

block content
    a(href="/") volver

    br
    br
    br

    h1 Ingreso

    br
    br

    form(action="/login" method='post')
        label(for="email") Email:
        input#email(type="text" name="email")
        br
        label(for="password") Password:
        input#password(type="password" name="password")
        br
        br
        input.btn(type="submit", value="OK")