extends ../layout

block content

    a(href="/usuarios/create") Nuevo usuario
    table.table
        thead
            tr
                th(scope='col') id
                th(scope='col') nombre
                th(scope='col') email
                th(scope='col') veridied
                th(scope='col') Acciones
        tbody
            each usuario in usuarios
                tr 
                    td(scope='row')=usuario.id
                    td=usuario.nombre
                    td=usuario.email
                    td=usuario.verified
                    td
                        form.inline(method="get" action="/usuarios/update/"+usuario.id)
                            button.link-button(type="submit" class="btn") Editar
                        form.inline(method="post" action="/usuarios/delete/"+usuario.id)
                            button.link-button(type="submit" class="btn") Eliminar