extends ../layout

block content
    a(href="/usuarios") volver

    br
    br
    br

    h1 Editar usuario

    br
    br

    form(action="/usuarios/update/"+usuario.id method='post')

        label(for="nombre") Nombre:
        input#nombre(type="text" name="nombre" value=usuario.nombre)
        br
        label(for="email") Email:
        input#email(type="text" name="email" value=usuario.email)
        br
        label(for="password") Password:
        input#password(type="password" name="password")
        br
        br
        input.btn(type="submit", value="OK")